  body {
            background-color: #FEE5AC;
            font-family: Arial, sans-serif;
        }
        
        .container {
            text-align: center;
            padding: 50px;
                
        }
        
        h1 {
            color: #8B4513;
            font-size: 48px;
            margin-bottom: 20px;
        }
        
        p {
            color: #8B4513;
            font-size: 24px;
        }
        
        img {
            width: 300px;
            height: auto;
            margin-top: 50px;
        }

        /*Clase para el boton*/

        a{
            text-decoration: none;
            width: 200px;
            height: 50px;
        }

    .btn {
            background-color: #8B4513;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 8px;
        }

        /*Clase audios*/
        audio {
            background-color: black;
        }