
#puzzleContainer {
    width: 305px;
    height: 305px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}

.piece {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
}